<ion-view title="Slipscan">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h2>Contact</h2>
        <div class="button-bar"></div>
        <div>
            <p>
                Feel free to send us compliments, insults and ideas.
            </p>
        </div>
        <p>
            <a href="mailto:driekwartappel@gmail.com">driekwartappel@gmail.com</a>
        </p>

        <p>You can read more about the product at <a href="http://www.smit.co.za/slipscan">http://www.smit.co.za/slipscan</a></p>
        <p>Please rate us in the app store with minumum 5 stars :)</p>
    </ion-content>
</ion-view>


