<ion-view title="Slipscan">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h2>Rate us with 5 stars!</h2>
        <div class="button-bar"></div>
        <div>
            <p>
              Please give us 5 stars. If you have complaints rather contact us directly.
            </p>
        </div>
        <p>
            <a href="mailto:driekwartappel@gmail.com">driekwartappel@gmail.com</a>
        </p>

        <p>You can read more about the product at <a href="http://www.smit.co.za/slipscan">http://www.smit.co.za/slipscan</a></p>
       
    </ion-content>
</ion-view>


